# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
[Ll]ibrary/

/[Ll]ogs/
/[Mm]emoryCaptures/
/[Uu]serSettings/

sysinfo.txt

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
*.DotSettings
Assets/UnityVS

# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
ehthumbs.db
[Tt]humbs.db


# ============== #
# Build Products #
# ============== #
*.apk
*.ipa
.vs/
.idea/

Build/
Standalone Builds/

#==================#
# Android manifest #
# ================ #
Assets/Plugins/Android/AndroidManifest.xml
Assets/Plugins/Android/AndroidManifest.xml.meta


#=============#
# Crashlytics #
# =========== #
Assets/StreamingAssets/crashlytics-build.properties
Assets/Plugins/Android/fabric/res/values/strings.xml.meta
Assets/StreamingAssets/crashlytics-build.properties.meta

Assets/Plugins/Editor/JetBrains/
Assets/Plugins/Editor/JetBrains.meta
Assets/Plugins.meta
Assets/Plugins/CodeAssist.meta
Assets/Plugins/CodeAssist/CHANGELOG.txt
Assets/Plugins/CodeAssist/CHANGELOG.txt.meta
Assets/Plugins/CodeAssist/Editor.meta
Assets/Plugins/CodeAssist/Editor/Assister.cs
Assets/Plugins/CodeAssist/Editor/Assister.cs.meta
Assets/Plugins/CodeAssist/Editor/CodeAssistAssembly.asmdef
Assets/Plugins/CodeAssist/Editor/CodeAssistAssembly.asmdef.meta
Assets/Plugins/CodeAssist/Editor/csc.rsp
Assets/Plugins/CodeAssist/Editor/csc.rsp.meta
Assets/Plugins/CodeAssist/Editor/EditorCoroutines.meta
Assets/Plugins/CodeAssist/Editor/EditorCoroutines/EditorCoroutine.cs
Assets/Plugins/CodeAssist/Editor/EditorCoroutines/EditorCoroutine.cs.meta
Assets/Plugins/CodeAssist/Editor/EditorCoroutines/EditorCoroutineUtility.cs
Assets/Plugins/CodeAssist/Editor/EditorCoroutines/EditorCoroutineUtility.cs.meta
Assets/Plugins/CodeAssist/Editor/EditorCoroutines/EditorWaitForSeconds.cs
Assets/Plugins/CodeAssist/Editor/EditorCoroutines/EditorWaitForSeconds.cs.meta
Assets/Plugins/CodeAssist/Editor/EditorCoroutines/EditorWindowCoroutineExtension.cs
Assets/Plugins/CodeAssist/Editor/EditorCoroutines/EditorWindowCoroutineExtension.cs.meta
Assets/Plugins/CodeAssist/Editor/EditorWindowFocusUtility.cs
Assets/Plugins/CodeAssist/Editor/EditorWindowFocusUtility.cs.meta
Assets/Plugins/CodeAssist/Editor/ExternalReferences.meta
Assets/Plugins/CodeAssist/Editor/ExternalReferences/AsyncIO.dll
Assets/Plugins/CodeAssist/Editor/ExternalReferences/AsyncIO.dll.meta
Assets/Plugins/CodeAssist/Editor/ExternalReferences/NaCl.dll
Assets/Plugins/CodeAssist/Editor/ExternalReferences/NaCl.dll.meta
Assets/Plugins/CodeAssist/Editor/ExternalReferences/NetMQ.dll
Assets/Plugins/CodeAssist/Editor/ExternalReferences/NetMQ.dll.meta
Assets/Plugins/CodeAssist/Editor/ExternalReferences/Release.meta
Assets/Plugins/CodeAssist/Editor/ExternalReferences/Release/netstandard2.0.meta
Assets/Plugins/CodeAssist/Editor/ExternalReferences/Release/netstandard2.0/UnityCodeAssistSynchronizerModel.deps.json
Assets/Plugins/CodeAssist/Editor/ExternalReferences/Release/netstandard2.0/UnityCodeAssistSynchronizerModel.deps.json.meta
Assets/Plugins/CodeAssist/Editor/ExternalReferences/Release/netstandard2.0/UnityCodeAssistSynchronizerModel.dll
Assets/Plugins/CodeAssist/Editor/ExternalReferences/Release/netstandard2.0/UnityCodeAssistSynchronizerModel.dll.meta
Assets/Plugins/CodeAssist/Editor/ExternalReferences/Release/netstandard2.0/UnityCodeAssistSynchronizerModel.pdb
Assets/Plugins/CodeAssist/Editor/ExternalReferences/Release/netstandard2.0/UnityCodeAssistSynchronizerModel.pdb.meta
Assets/Plugins/CodeAssist/Editor/ExternalReferences/Serilog.dll
Assets/Plugins/CodeAssist/Editor/ExternalReferences/Serilog.dll.meta
Assets/Plugins/CodeAssist/Editor/ExternalReferences/Serilog.Sinks.PersistentFile.dll
Assets/Plugins/CodeAssist/Editor/ExternalReferences/Serilog.Sinks.PersistentFile.dll.meta
Assets/Plugins/CodeAssist/Editor/ExternalReferences/System.Buffers.dll
Assets/Plugins/CodeAssist/Editor/ExternalReferences/System.Buffers.dll.meta
Assets/Plugins/CodeAssist/Editor/ExternalReferences/System.Memory.dll
Assets/Plugins/CodeAssist/Editor/ExternalReferences/System.Memory.dll.meta
Assets/Plugins/CodeAssist/Editor/ExternalReferences/System.Runtime.CompilerServices.Unsafe.dll
Assets/Plugins/CodeAssist/Editor/ExternalReferences/System.Runtime.CompilerServices.Unsafe.dll.meta
Assets/Plugins/CodeAssist/Editor/ExternalReferences/System.Threading.Tasks.Extensions.dll
Assets/Plugins/CodeAssist/Editor/ExternalReferences/System.Threading.Tasks.Extensions.dll.meta
Assets/Plugins/CodeAssist/Editor/FeedbackWindow.cs
Assets/Plugins/CodeAssist/Editor/FeedbackWindow.cs.meta
Assets/Plugins/CodeAssist/Editor/Logger.meta
Assets/Plugins/CodeAssist/Editor/Logger/CommonTools.cs
Assets/Plugins/CodeAssist/Editor/Logger/CommonTools.cs.meta
Assets/Plugins/CodeAssist/Editor/Logger/DomainHashEnricher.cs
Assets/Plugins/CodeAssist/Editor/Logger/DomainHashEnricher.cs.meta
Assets/Plugins/CodeAssist/Editor/Logger/ELogger.cs
Assets/Plugins/CodeAssist/Editor/Logger/ELogger.cs.meta
Assets/Plugins/CodeAssist/Editor/Logger/MemorySink.cs
Assets/Plugins/CodeAssist/Editor/Logger/MemorySink.cs.meta
Assets/Plugins/CodeAssist/Editor/Logger/UnitySink.cs
Assets/Plugins/CodeAssist/Editor/Logger/UnitySink.cs.meta
Assets/Plugins/CodeAssist/Editor/MainThreadDispatcher.cs
Assets/Plugins/CodeAssist/Editor/MainThreadDispatcher.cs.meta
Assets/Plugins/CodeAssist/Editor/Monitor.cs
Assets/Plugins/CodeAssist/Editor/Monitor.cs.meta
Assets/Plugins/CodeAssist/Editor/MySerializer.cs
Assets/Plugins/CodeAssist/Editor/MySerializer.cs.meta
Assets/Plugins/CodeAssist/Editor/NetMQInitializer.cs
Assets/Plugins/CodeAssist/Editor/NetMQInitializer.cs.meta
Assets/Plugins/CodeAssist/Editor/NetMQPublisher.cs
Assets/Plugins/CodeAssist/Editor/NetMQPublisher.cs.meta
Assets/Plugins/CodeAssist/Editor/ScriptFinder.cs
Assets/Plugins/CodeAssist/Editor/ScriptFinder.cs.meta
Assets/Plugins/CodeAssist/Editor/StatusWindow.cs
Assets/Plugins/CodeAssist/Editor/StatusWindow.cs.meta
Assets/Plugins/CodeAssist/Editor/TinyJson.meta
Assets/Plugins/CodeAssist/Editor/TinyJson/JsonParser.cs
Assets/Plugins/CodeAssist/Editor/TinyJson/JsonParser.cs.meta
Assets/Plugins/CodeAssist/Editor/TinyJson/JsonWriter.cs
Assets/Plugins/CodeAssist/Editor/TinyJson/JsonWriter.cs.meta
Assets/Plugins/CodeAssist/Editor/UnityClassExtensions.cs
Assets/Plugins/CodeAssist/Editor/UnityClassExtensions.cs.meta
Assets/Plugins/CodeAssist/README.TXT
Assets/Plugins/CodeAssist/README.TXT.meta
Assets/Plugins/CodeAssist/THIRD-PARTY-NOTICES.TXT
Assets/Plugins/CodeAssist/THIRD-PARTY-NOTICES.TXT.meta
